/*main setting*/
:root {
    --prymary-color: #4f4aa6;
    --secundary-color: #48ca95;
    --bg-color: #f7f7f7;
    --light-color: #fff;
    --dark-color: #000;

    --header-title-font: Poppins-extrabold;
    --section-title-font: Poppins-semiblod;
    --header-subtitle-font: Poppins;
    --text-font: Poppins;
    --menu-font: Poppins-bold;
    --banner-subtitle-font: Poppins-light;
    --banner-title-font:Poppins;
}

* {
    /*reseteo los valores de la pagina*/
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: var(--text-font);
}

@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-extrabold;
    src: url(./assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: Poppins-semiblod;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-light;
    src: url('./assets/fonts/Poppins-Light.ttf');
}

/*header*/

header {
    background-image: url(./assets/images/banner.jpg);
    /*propiedad para cubrir todo el espacio*/
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px 30px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding: 10px; 
}

nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    font-family: var(--menu-font);
}

nav ul li a:hover {
    color: var(--secundary-color);
}

.selected {
    color: var(--secundary-color);
}

.header-img {
    margin: 5 px 25px ;
}

.header-content {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin: 50px;

}

.header-content-text {
    max-width: 500px;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
}

.header-content-btns {
    margin-top: 50px;
}

.header-title {
    font-size: 80px;
    font-family: var(--header-title-font);
}

.header-subtitle {
    font-size: 40px;
    }

.btn {
    color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--light-color);
    text-decoration: none;
    margin: 0px 5px;
}

.btn:hover {
    background-color: var(--secundary-color);
    border: 2px solid var(--secundary-color);
}

.menu-mobile {
    display: none;
}

@media (max-width: 800px) {
    .menu-mobile {
        display: flex;
    }
    .menu-screen {
        display: none;
    }
}

@media (max-width: 1300px) {
    .header-content {
        flex-direction: column;
    }
    .header-content-text {
        margin-left: 20px;
    }
    .header-title {
        font-size: 60px;
    }
    .header-subtitle {
        font-size: 20px;
    }
    .header-content-text p {
        font-size: 14px;
    }
    .btn {
        padding: 10px 30px;
    }
    .header-img {
        margin: 50px 10px;
        width: 95%;
        height: 100%;
        max-width: 500px;
    }
}
/*end header*/

/*cards section*/

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 60px;
    flex-wrap: wrap-;
}

.card {
    margin: 5px;
    padding: 30px;
    border: 1px solid var(--secundary-color);
    border-radius: 15px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h5 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.card p {
    text-align: center;
}
/*end cards section*/

/*Products section*/
.products {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.section-title {
    text-transform: uppercase;
    font-size: 26px;
    font-family: var(--section-title-font);
    border-bottom: 1px solid var(--secundary-color);
    margin-bottom: 25px ;
}

.products-container {
    background-color: var(--light-color);
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    margin-bottom: 100px;
}

.products-card {
    width: 203px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.products-card a {
    background-color: var(--dark-color);
    padding: 10px;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.btn-secundary {
    color: var(--secundary-color);
    padding: 15px 60px;
    border: 2px solid var(--secundary-color);
    text-decoration: none;
    margin: 0 5px;
}

@media(max-width: 1100px) {
    .products-container {
        width: 95%;
    }
}
/*End products setion*/

/*banner section*/

.banner {
    background-color: var(--prymary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.banner-content {
    display: flex;
    justify-content: center;

}

.banner-content-text {
    max-width: 500px;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
}

.banner-title {
    font-size: 48px;
    font-family: var(--banner-title-font);
}

.banner-subtitle {
    font-size: 20px;
    font-family: var(--banner-subtitle-font);
    }

    .btn-primary-full {
        color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--secundary-color);
    text-decoration: none;
    margin: 0px 5px;
    background-color: var(--secundary-color);
    }

    .btn-primary-full:hover {
        color: var(--secundary-color);
        background-color: var(--prymary-color);
    }

    @media(max-width: 800px) {
        .banner-content {
            flex-direction: column;
        }
    }

/*end banner section*/

/*Reviews section*/
.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

reviews-card {
    width: 800px;
}

reviews-card h5 {
    font-size: 28px;
    margin-bottom: 20px;
}

@media(max-width: 800px) {
    .reviewa-card {
        width: 96%;
    }
}

/*End reviews section*/

/*from section*/
.contact {
    background-image: url(./assets/images/contact_g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
}

.contact-form {
    border: 1px solid var(--light-color);
    padding: 50px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title-white {
    text-transform: uppercase;
    font-size: 26px;
    font-family: var(--section-title-font);
    border-bottom: 1px solid var(--secundary-color);
    margin-bottom: 25px ;
    color: var(--light-color);
}

.contact-input {
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: 1px solid var(--light-color);
    color: var(--light-color);
}

.contact-textarea {
    color: var(--light-color);
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid var(--light-color);
    resize: none;/*elimina el ajuste manual del elemento*/
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}


.contact-input::placeholder {
    color: var(--light-color);
    opacity: 1;
}

.contact-input::-moz-placeholder {
    color: var(--light-color);
    opacity: 1;
}

.contact-textarea::placeholder {
    color: var(--light-color);
    opacity: 1;
}

.contact-textarea::-moz-placeholder {
    color: var(--light-color);
}

.contact-btn {
    color: var(--light-color);
    padding: 15px 60px;
    border: 2px solid var(--secundary-color);
    background-color: var(--secundary-color);
    text-decoration: none;
    max-width: 250px;
    border-radius: 25px;
    margin-top: 40px;
    cursor: pointer;

}

.cont-btn:hover {
    color: var(--secundary-color);
    background-color: transparent;
}

@media(max-width:800px){
    .contact-form {
        width: 96%;
    }
}

/*End de section*/

/*footer section*/
footer {
    background-image: url(./assets/images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright {
    max-width: 800px;
    color: var(--light-color);
    border-top: 1px solid var(--light-color);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.footer-content {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 25px;
}
.footer-card {
    width: 300px;
    padding: 20px;
    color: var(--light-color);
}

.footer.card h5 {
    font-size: 20px;
}

.footer-card p {
    font-size: 12px;
}

.sub-input {
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    font-family: var(--section-title-font);
}

 .sub-btn {
    color: var(--light-color);
    padding: 7px 60px;
    border: 2px solid var(--secundary-color);
    background-color: var(--secundary-color);
    text-decoration: none;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.cont-btn:hover {
    color: var(--secundary-color);
    background-color: transparent;
}

.social-icons {
    color: var(--light-color);
    font-size: 24px;
    margin: 5px;
}

@media(max-width:1200px) {
    .footer-content {
        width: 96%;
    }
    .copyright {
        width: 96%;
    }
}
/*end footer section*/